.slick-prev:before,
.slick-next:before {
  color: black;
  font-size: 40px;
}

.slick-slide img {
  max-width: 600px !important;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .slick-slide img {
    width: 100%;
  }
}
